.header {
  width: 1440px;
  margin: auto;
  background-color: #fff;
  .container {
    padding: 19px 117px;
    display: grid;
    grid-template-columns: 100px 5fr 2fr 157px;
    align-items: center;
  }
}
