.slider__slide-dot {
  position: absolute;
  .slider__slide-dot_content {
    position: relative;
    .slider__slide-dot_line {
      position: absolute;
      background: #d8e0f7;
    }
    .slider__slide-dot_pointer {
      position: absolute;
    }
    .slider__slide-dot_board {
      position: absolute;
      background: #ffffff;
      border-radius: 5px;
      border: 1px solid #d8e0f7;
      padding: 10px 30px;
      top: -20px;
      left: calc(50% + 7.5px);

      // display: none;

      opacity: 0;
      visibility: hidden;
      transition: .4s opacity, .4s visibility;

      transform: translate(-50%, -100%);
      &::after {
        content: "";
        position: absolute;
        background: url(./src/slider__slide-dot_board_after.png) no-repeat;
        top: calc(100% - 0.5px);
        left: calc(50% - 4.5px);
        height: 6px;
        width: 10px;
      }
      &.slider__slide-dot_board--hover {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
