.stats {
  width: 1440px;
  .stats__container {
    display: flex;
    justify-content: center;
    .stats__block {
      padding: 66px 90px;
      width: 100%;
      display: flex;
      flex-direction: column;
      .stats__block-icon {
        margin-bottom: 24px;
      }
      .stats__block-h1 {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 83px;

        text-align: right;
        letter-spacing: 0.03em;
      }
      .stats__block-p {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.03em;
        max-width:  260px;
      }
      &.stats__block_left {
        background: #6888ff;
        align-items: flex-end;
        color: #ffffff;
        text-align: right;
      }
      &.stats__block_right {
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        align-items: flex-start;
        color: #5E80FF;
        
        text-align: left;
      }
    }
  }
}
