// body {
//   height: 500vh;
//   background: linear-gradient(
//     360deg,
//     rgba(75, 113, 255, 0) -0.13%,
//     rgba(107, 137, 248, 0.4) 131.12%
//   );
// }

.main {
  display: flex;
  flex-direction: column;
  // justify-content:;
  align-items: center;
  overflow-y: hidden;
}
